node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
coverage
*.tsbuildinfo
*.local
.env
.dev.vars*
.nitro
.tanstack
.wrangler
.output
.vinxi
.turbo
__unconfig*
/packages/tooling/assets
/packages/tooling/templates